################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin/*
obj/*

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

*.sln
*.csproj
*.csproj.user
.vs/
AssemblyInfo.cs
[Bb]in/ 